.icon {
  display: inline-block;
  &.example-png-icon {
    background: url(img/icons/example.png);
    width: 30px;
    height: 30px;
  }
  &-example-svg-icon {
    width: 30px;
    height: 30px;
    fill: red;
  }
}