@import "_fonts";
@import "_mixins";
@import "_variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font;
  font-size: $base-size;
  min-width: map_get($breakpoints, 'mobile');
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

button {
  font-family: $base-font;
  &:hover{
    cursor: pointer;
  }
}

.section {
  @include flex('', '', 'c');
}

.wrap {
  @include flex('c', 's', 's');
  @include wrap(15);
}

@import "../elements/demo/demo";

@import "icons";