doctype html
html
    head
        include ../elements/head/head
        +head('Demo page', 'Page description', 'Page keywords')
    body
        include ../elements/demo/demo

        script(src="js/libs.min.js")
        script(src="js/custom.js")