.form
    ._item
        ._item-title Выберите зону проживания
        ._item-value
            select._select(v-model="selectedZone")
                option(v-for="(zone, index) in zones" :key="index") {{ zone }}
    ._item
        ._item-title.-section Количество человек в семье:
        ._item-value {{ all }}

    ._item
        ._item-title.-padding из них пенсионеров:
        ._item-value
            input._input(v-model.number="retired")

    ._item
        ._item-title.-padding из них детей:
        ._item-value
            input._input(v-model.number="child")

    ._item
        ._item-title.-padding из них трудоспособных:	
        ._item-value
            input._input(v-model.number="employable")

    ._item
        ._item-title Совокупный доход семьи:
        ._item-value
            input._input(v-model.number="income")
            
    ._item
        ._item-title Жилищно-коммунальные услуги:
        ._item-value
            input._input(v-model.number="costs")

    ._item
        ._item-title Общая площадь жилья: 
        ._item-value
            input._input(v-model.number="floorArea")

    ._item
        ._item-title.-section Сумма субсидии:
        ._item-value 
            b {{ subsidy ? subsidy : 0 }} рублей

