mixin head(title)
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=3.0, user-scalable=yes")
        meta(charset="utf-8")
        link(href="css/libs.min.css" rel="stylesheet" type="text/css")
        link(href="css/style.css" rel="stylesheet" type="text/css")